// Import Fonts
@font-face 
  font-family: 'Cairo'
  src: url('assets/fonts/Cairo-Regular.ttf'), url('assets/fonts/Cairo-Medium.ttf'), url('assets/fonts/Cairo-Bold.ttf')
@font-face 
  font-family: 'Lilita One'
  src: url('assets/fonts/LilitaOne-Regular.ttf')
  
// Fonts
$f-ordinary: 'Cairo', sans-serif
$f-special: 'Lilita One', 'Cairo', cursive
// Colors
$c-contrast: #fff
$c-accent: #05b0ff
$c-ordinary: #272727
// Sizes
$s-1: .25rem
$s-2: .5rem
$s-3: 1rem
$s-4: 1.5rem
$s-5: 3rem
// Trans
$fast-trans: .3s
$md-trans: .5s

// Breakpoints Mixins
@mixin sm-screens()
  @media (min-width: 20rem)
    @content
@mixin md-screens()
  @media (min-width: 50rem)
    @content
@mixin lg-screens()
  @media (min-width: 75rem)
    @content
