doctype html
html(lang="ar", dir="rtl")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Monshed

  //- Search Engine Meta
  meta(name="description", content="I can make you a cool simple intro for your work using Blender")
  meta(name="keyword", content="Zaid, Osama, Monshed, social media services, social media, digital marketing")

  //- Style Sheet
  link(rel="stylesheet", href="main.css")

  body
    //- Hero Section
    section#home.hero
      nav.navbar.container.no-spaces
        a.brand(href="#home")
          img(src="assets/images/brand.svg", alt="Monshed", width="200")
        #nav-icon.nav-icon(tabindex="0")
          span 
          span 
          span 
        #nav-list.nav-list
          ul
            li 
              a(href="#home", data-name="nav-home") الرئيسية
            li 
              a(href="#about", data-name="nav-about") عنا
            li 
              a(href="#gallary", data-name="nav-gallary") المعرض
            li 
              a(href="#contact", data-name="nav-contact") تواصل معنا
            li#lang-switcher
              img(src="assets/images/flags/en.svg", data-alt="assets/images/flags/ar.svg" alt="Change Language", title="Change Language")
      main
        .container.no-spaces
          .text
            p.welcome(data-name="main-welcome") مرحبا، نحن شركة منشد. نحن مختصون في
            h1(data-name="main-title") خدمات السوشيال ميديا والتسويق الإلكتروني
            p.brief(data-name="main-bief") لدينا دورة تعلمك التسويق الالكتروني من الصفر
            a.btn(href="mailto:contact@monshed.com?subject=Digital%20Marketing%20Course", data-name="main-link") احجز الآن!
          .picture
            img(src="assets/images/illustrator.svg" alt="Illustration Picture")
            
    //- About Section
    section#about.about.bg-light
      .container.fluid
        .headding 
          h2(data-name="about-headding-h") من نحن
          p(data-name="about-headding-p") ما هى منشد وماذا تقدم.

        .cards 
          .card 
            img(src="assets/images/card-cover-monshed.png", alt="Monshed Cover Image")
            .text 
              h3(data-name="card1-h") شركة منشد
              p(data-name="card1-p") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم 
              span(data-name="card1-span1") المقر: طنطا، مصر
              span(data-name="card1-span2") تاريخ التأسيس: ++ - ++ - ++++
              span(data-name="card1-span3") مجال العمل: خدمات السوشيال ميديا
          .card 
            img(src="assets/images/card-cover-zaid.png", alt="Monshed Cover Image")
            .text 
              h3(data-name="card2-h") زيد أسامة
              p.brief(data-name="card2-p") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم 
              span(data-name="card2-span1") المقر: طنطا، مصر
              span(data-name="card2-span2") مجال العمل: التسويق الإلكتروني
              span(data-name="card2-span3") سنوات الخبرة: ++ سنة
          .card 
            img(src="assets/images/card-cover-monshed.png", alt="Monshed Cover Image")
            .text 
              h3(data-name="card3-h") شركة منشد
              p(data-name="card3-p") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم 
              span(data-name="card3-span1") المقر: طنطا، مصر
              span(data-name="card3-span2") تاريخ التأسيس: ++ - ++ - ++++
              span(data-name="card3-span3") مجال العمل: خدمات السوشيال ميديا

    //- Testimonials Section
    section#testimonials.testimonials.bg-dark
      .container.fluid
        .headding.light
          h2(data-name="testimonials-headding-h") آراء العملاء
          p(data-name="testimonials-headding-p") ما قاله عنا العملاء السابقون
        .slider 
          .img.none
          .img.red
          .img.green
          .img.yellow
          .img.blue
          .img.violet
          .img.red
          .img.green
          .img.yellow
          .img.blue
          .img.violet
        .slider-controls
          button.prev.disabled(data-name="testimonials-slider-prev") السابق
          button.next(data-name="testimonials-slider-next") التالي
                        
    //- Gallary Section
    section.gallary.bg-light
      .container 
        .headding.light
          h2(data-name="gallary-headding-h") المعرض
          p(data-name="gallary-headding-p") تصفح بعض اعمالنا المميزة

    //- Feedback Section
    //- section.feedback.bg-dark
      .container
        .headding 
          h2(data-name="feedback-headding-h") آراء العملاء
          p(data-name="feedback-headding-p") ما قاله عنا العملاء السابقون
        blockquote
          q(data-name="feedback-quote") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص

    //- Last Interact Section
    section.last-interact 
      .container
        p(data-name="last-interact-p") لا تنسى التسجيل لدورة التسويق الالكتروني الخاصة بنا
        a.btn(href="wa.me/201027797554", data-name="last-interact-btn") اشترك الآن  

    //- Footer
    footer
      .container
        .col.brand 
          img(src="assets/images/brand.svg", alt="Monshed")
          .social
        .col.pagination
          ul
            li 
              a(href="#home", data-name="footer-home") الرئيسية
            li 
              a(href="#about", data-name="footer-about") عنا
            li 
              a(href="#gallary", data-name="footer-gallary") المعرض
            li 
              a(href="#contact", data-name="footer-contact") تواصل معنا

    script(src="app.js") 