doctype html
html(lang="ar", dir="rtl")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Monshed

  //- Search Engine Meta
  meta(name="description", content="I can make you a cool simple intro for your work using Blender")
  meta(name="keyword", content="Zaid, Osama, Monshed, social media services, social media, digital marketing")

  //- Style Sheet
  link(rel="stylesheet", href="main.css")

  body
    //- Hero Section
    section#home.hero
      nav.navbar.container
        a.brand(href="#home")
          img(src="assets/images/brand.svg", alt="Monshed", width="200")
        #nav-icon.nav-icon
          span 
          span 
          span 
        #nav-list.nav-list
          ul
            li 
              a(href="#home", data-name="nav-home") الرئيسية
            li 
              a(href="#about", data-name="nav-about") عنا
            li 
              a(href="#services", data-name="nav-services") خدماتنا
            li 
              a(href="#contact", data-name="nav-contact") تواصل معنا
            li#lang-switcher
              img(src="assets/images/flags/en.svg", data-alt="assets/images/flags/ar.svg" alt="Change Language", title="Change Language")
      main
        .container
          .text
            p.welcome(data-name="main-welcome") مرحبا، نحن شركة منشد. نحن مختصون في
            h1(data-name="main-title") خدمات السوشيال ميديا والتسويق الإلكتروني
            p.brief(data-name="main-bief") لدينا دورة تعلمك التسويق الالكتروني من الصفر
            a.btn(href="mailto:contact@monshed.com?subject=Digital%20Marketing%20Course", data-name="main-link") احجز الآن!
          .picture
            img(src="assets/images/illustrator.svg" alt="Nasr Elsalafy's Picture.")


    script(src="app.js") 