doctype html
html(lang="ar", dir="rtl")
  head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Monshed

  //- Search Engine Meta
  meta(name="description", content="I can make you a cool simple intro for your work using Blender")
  meta(name="keyword", content="Zaid, Osama, Monshed, social media services, social media, digital marketing")

  //- Fontawesome Sheet
  link(rel="stylesheet", href="assets/css/all.min.css")

  //- Style Sheet
  link(rel="stylesheet", href="assets/css/main.css")

  body
    //- Hero Section
    section#home.hero
      nav.navbar.container.no-spaces
        a.brand(href="#home")
          img(src="assets/images/brand.svg", alt="Monshed", width="200")
        #nav-icon.nav-icon(tabindex="0")
          span 
          span 
          span 
        #nav-list.nav-list
          ul
            li 
              a(href="#home", data-name="nav-home") الرئيسية
            li 
              a(href="#about", data-name="nav-about") عنا
            li 
              a(href="#testimonials", data-name="nav-testimonials") آراء العملاء
            li 
              a(href="#certifications", data-name="nav-certifications") الشهادات
            li#lang-switcher
              img(src="assets/images/flags/en.svg", data-alt="assets/images/flags/ar.svg" alt="Change Language", title="Change Language")
      main
        .container.no-spaces
          .text
            p.welcome(data-name="main-welcome") مرحبا، نحن شركة منشد. نحن مختصون في
            h1(data-name="main-title") خدمات السوشيال ميديا والتسويق الإلكتروني
            p.brief(data-name="main-bief") لدينا دورة تعلمك التسويق الالكتروني من الصفر
            a.btn(href="mailto:contact@monshed.com?subject=Digital%20Marketing%20Course", data-name="main-link") احجز الآن!
          .picture
            img(src="assets/images/illustrator.svg" alt="Illustration Picture")
            
    //- About Section
    section#about.about.bg-light
      .container.fluid
        .headding 
          h2(data-name="about-headding-h") من نحن
          p(data-name="about-headding-p") ما هى منشد وماذا تقدم.

        .cards 
          .card 
            img(src="assets/images/card-cover-zaid.png", alt="Zaid Picture")
            .text 
              h3(data-name="card1-h") زيد أسامة
              p(data-name="card1-p1") مرحبًا، أنا زيد اسامة عزاب، مسوق إلكتروني مقيم في مصر. لدي خبرة تزيد عن 8 أعوام في مجال الإدارة والتسويق. انا مؤسس لشركة منشد، حيث قمت بتطوير استراتيجيات التسويق وتحقيق النجاح في حملات الإعلانات وترويج المنتجات والخدمات. 
              p(data-name="card1-p2") حصلت على شهادات تدريبية في مجال التسويق من معاهد معترف بها في السعودية ومصر، بما في ذلك القادسية بزنس. قمت بالتحديث ومواكبة أحدث التطورات في مجال التسويق الرقمي.
              p(data-name="card1-p3") حاليًا، أعمل كمسوق إلكتروني مستقل وقمت بتنفيذ حملات ناجحة لعملاء متعددين. لدي القدرة على تحليل البيانات واستخدامها لتحديد الفرص التسويقية وتحسين الأداء بشكل عام.
              p(data-name="card1-p4") يسعدني مساعدتك في تحقيق أهدافك التسويقية وتحسين وجودك الرقمي. لا تتردد في التواصل معي لمناقشة كيف يمكنني مساعدتك في تحقيق النجاح الرقمي.
              a.contact(href="#")
                i.fa-brands.fa-whatsapp
                span(data-name="card1-contact-text") رابط التواصل
          .card 
            img(src="assets/images/card-cover-monshed.png", alt="Monshed Cover Image")
            .text 
              h3(data-name="card2-h") شركة منشد
              p(data-name="card2-p1") شركة منشد هي شركة رائدة في مجال التسويق الرقمي والإنتاج المرئي، تأسست عام 2019. نحن نسعى جاهدين لتقديم أفضل الخدمات في عالم الإعلان والتسويق الحديث. على الرغم من أننا لا نملك مقرًا حاليًا، إلا أن تطلعاتنا وجهودنا لا تعرف الحدود.
              p(data-name="card2-p2") نحن في شركة منشد نحرص على مواكبة التطورات التكنولوجية وتحديات العصر، مما يمكننا من تقديم خدمات استراتيجية لتسويق منتجاتكم وخدماتكم بطريقة مبتكرة وجذابة. لقد تعاقدنا وعملنا مع كبرى الشركات والعلامات التجارية، مما أهلنا لاكتساب الخبرة والمعرفة اللازمة لتلبية متطلباتكم بكفاءة واحترافية.
              p(data-name="card2-p3") نحن نقدم مجموعة واسعة من الخدمات بما في ذلك التسويق الرقمي عبر منصات السوشيال ميديا، تصميم الجرافيك والمواد الترويجية، وإنتاج الفيديو بأعلى معايير الجودة والابتكار. لدينا فريق مؤهل ومحترف من الخبراء في المجالات المختلفة، ونحن واثقون من قدرتنا على تحقيق أهدافكم التسويقية بفعالية.
              p(data-name="card2-p4") نحن نهتم بتقديم تجربة عملاء رائعة ونضع رضاكم في صدارة أولوياتنا. إذا كنتم تبحثون عن شريك موثوق ومبدع لتحسين حضوركم الرقمي وتحقيق النجاح، فإن فريق شركة منشد مستعد للتعامل معكم وتحقيق النتائج المذهلة سويًا. اتصلوا بنا الآن لبدء العمل المشترك والنجاح الاستثنائي.
              a.contact(href="#")
                i.fa-brands.fa-whatsapp
                span(data-name="card2-contact-text") رابط التواصل
          .card 
            img(src="assets/images/card-cover-monshed.png", alt="Course Cover Image")
            .text 
              h3(data-name="card3-h") كورس التسويق الالكتروني
              p(data-name="card3-p1") دورة التدريب التسويقي المتميزة تهدف إلى تطوير مهاراتك في عالم التسويق الرقمي وتحقيق نجاحك في مجال الأعمال عبر الإنترنت. سواء كنت راغبًا في زيادة مبيعاتك، تحسين دخلك، أو بناء عملك الخاص من الصفر، فإن هذه الدورة تلبي احتياجاتك.
              div.pros
                h4(data-name="card3-list-headding") في هذه الدورة التدريبية ستتعلم:
                ol 
                  li(data-name="card3-li1") فن الكتابة الإعلانية: كيف تستخدم الكلمات بشكل فعال لجذب العملاء وإثارة اهتمامهم
                  li(data-name="card3-li2") كيفية إنشاء مشروع ناجح من الصفر: ستتعرف على استراتيجيات الإدارة الناجحة لضمان نجاح مشروعك
                  li(data-name="card3-li3") أهمية التصميم في التسويق: كيفية استخدام التصميم الجذاب لجذب العملاء وتحسين تجربتهم
                  li(data-name="card3-li4") التسويق الرقمي: ستتعلم كيفية إنشاء إعلانات فعالة على منصات التواصل الاجتماعي مثل فيسبوك وإنستغرام، واستهداف الجمهور المناسب بالشكل الصحيح.
                  li(data-name="card3-li5") الحصول على شهادة معتمدة: ستحصل على شهادة معتمدة من شركة منشد تثبت مهاراتك ومعرفتك في مجال التسويق الرقمي.
              p(data-name="card3-p2") نحرص في دورتنا على التفاعل مع المشاركين وتطبيق فعاليات عملية بعد كل محاضرة لتعزيز التعلم. نقدم أيضًا دعمًا فنيًا على مدار اليوم للمساعدة في حل أي استفسارات.
              a.contact(href="#")
                i.fa-brands.fa-whatsapp
                span(data-name="card3-contact-text") رابط الاشتراك في الدورة

    //- Testimonials Section
    section#testimonials.testimonials.bg-dark
      .container.fluid
        .headding.light
          h2(data-name="testimonials-headding-h") آراء العملاء
          p(data-name="testimonials-headding-p") ما قاله عنا العملاء السابقون
        .slider 
          .img.none
          .img.red
          .img.green
          .img.yellow
          .img.blue
          .img.violet
          .img.red
          .img.green
          .img.yellow
          .img.blue
          .img.violet
        .slider-controls
          button.prev.disabled(data-name="testimonials-slider-prev") السابق
          button.next(data-name="testimonials-slider-next") التالي
                        
    //- Certifications Section
    section#certifications.certifications.bg-light
      .container 
        .headding
          h2(data-name="certifications-headding-h") الشهادات
          p(data-name="certifications-headding-p") بعض الشهادات التي حصل عليها زيد

        .images-container 
          .img-container(tabindex="0")
            img(src="https://picsum.photos/600/400", alt="Zaid Certification")
            p(data-name="certification-1") شهادة في كذا

          .img-container(tabindex="0")
            img(src="https://picsum.photos/600/400", alt="Zaid Certification")
            p(data-name="certification-2") شهادة في كذا

          .img-container(tabindex="0")
            img(src="https://picsum.photos/600/400", alt="Zaid Certification")
            p(data-name="certification-3") شهادة في كذا

          .img-container(tabindex="0")
            img(src="https://picsum.photos/600/400", alt="Zaid Certification")
            p(data-name="certification-4") شهادة في كذا

          .img-container(tabindex="0")
            img(src="https://picsum.photos/600/400", alt="Zaid Certification")
            p(data-name="certification-5") شهادة في كذا

          .img-container(tabindex="0")
            img(src="https://picsum.photos/600/400", alt="Zaid Certification")
            p(data-name="certification-6") شهادة في كذا

    //- Feedback Section
    //- section.feedback.bg-dark
      .container
        .headding 
          h2(data-name="feedback-headding-h") آراء العملاء
          p(data-name="feedback-headding-p") ما قاله عنا العملاء السابقون
        blockquote
          q(data-name="feedback-quote") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص

    //- Last Interact Section
    section.last-interact 
      .container
        .text
          p(data-name="last-interact-text") لا تنسى التسجيل لدورة التسويق الالكتروني الخاصة بنا
          p(data-name="last-interact-deal") خصم خاص لأول عشر متدربين بكل دورة
        a.btn(href="wa.me/201027797554", data-name="last-interact-btn") اشترك الآن  

    //- Footer
    footer
      .container
        .col.brand 
          img(src="assets/images/brand.svg", alt="Monshed")
          .social
        .col.pagination
          ul
            li 
              a(href="#home", data-name="footer-home") الرئيسية
            li 
              a(href="#about", data-name="footer-about") عنا
            li 
              a(href="#testimonials", data-name="footer-testimonials") آراء العملاء
            li 
              a(href="#certifications", data-name="footer-certifications") الشهادات

    //- Fontawesome Script
    script(src="assets/js/all.min.js") 

    //- Custom Script
    script(src="assets/js/app.js") 